@model Nemovitosti.Web.Models.Account.UzivatelVM
@{ ViewData["Title"] = "Registrace";
    Layout = "~/Views/Shared/_Layout.cshtml"; }



<div class="row">

    <div class="col-md-6 mx-auto">
        @using (Html.BeginForm("UlozRegistraci", "Account", FormMethod.Post))
        {
<h4>Registrace nového uživatele</h4>
                <hr />
                                <div class="row Pismo">
                                    <div class="col-12">
                                        <div class="row pb-2">
                                            <div class="col-lg-6">
                                                @Html.LabelFor(l => l.Jmeno)
                                                @Html.TextBoxFor(t => t.Jmeno, new { @class = "form-control" })
                                                <div>
                                                    @Html.ValidationMessageFor(v => v.Jmeno, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                @Html.LabelFor(l => l.Prijmeni)
                                                @Html.TextBoxFor(t => t.Prijmeni, new { @class = "form-control" })
                                            </div>
                                            <div class="col-lg-12">
                                                @Html.ValidationMessageFor(v => v.Prijmeni, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="row pb-2">
                                            <div class="col-lg-12">
                                                @Html.LabelFor(l => l.Email)
                                                @Html.TextBoxFor(t => t.Email, new { @class = "form-control " })
                                            </div>
                                            <div class="col-lg-12">
                                                @Html.ValidationMessageFor(v => v.Email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="row pb-2">
                                            <div class="col-lg-12">
                                                @Html.LabelFor(l => l.Heslo)
                                                @Html.TextBoxFor(t => t.Heslo, new { @class = "form-control" })
                                            </div>
                                            <div class="col-lg-12">
                                                @Html.ValidationMessageFor(v => v.Heslo, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                                <button type="submit" class="btn btn-primary Pismo">Registruj se</button>}
    </div>
</div>