@model Nemovitosti.Web.Models.PozemekVM
@{ ViewData["Title"] = "Vloz Pozemek";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


@using (Html.BeginForm("UlozInzerat", "Pozemek", FormMethod.Post))
{
<div>
    <div class="card vyhledavani-hlavni-okno shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h5 class="text-center mb-4">VLOŽENÍ POZEMKU</h5>
                    <div class="row form-group">
                        <div class="col-1"></div>
                        <div class="col-3 col-form-label text-right">
                            @Html.LabelFor(model => model.ciselnikTotalProPozemekVM.CiselnikProdejNeboPronajemVM, new { @style = "font-weight:bold" })
                        </div>
                        <div class="col-6 col-sm-6">
                            @Html.DropDownListFor(m => m.CiselnikProdejNeboPronajemVM.Id, Model.ciselnikTotalProPozemekVM.CiselnikProdejNeboPronajemVM, "Vyber", new { @class = "form-control mensiPismoDoInputu" })
                            <div class="pt-1">
                                @Html.ValidationMessageFor(model => model.CiselnikProdejNeboPronajemVM.Id, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-2"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-1"></div>
                        <div class="col-3 col-form-label text-right">
                            @Html.LabelFor(model => model.ciselnikTotalProPozemekVM.CiselnikTypPozemkuVM, new { @style = "font-weight:bold" })
                        </div>
                        <div class="col-6 col-sm-6">
                            @Html.DropDownListFor(m => m.CiselnikTypPozemkuVM.Id, Model.ciselnikTotalProPozemekVM.CiselnikTypPozemkuVM, "Vyber", new { @class = "form-control mensiPismoDoInputu" })
                            <div class="pt-1">
                                @Html.ValidationMessageFor(model => model.CiselnikTypPozemkuVM.Id, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-2"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-1"></div>
                        <div class="col-3 col-form-label text-right">
                            @Html.LabelFor(model => model.NazevInzeratu, new { @style = "font-weight:bold" })
                        </div>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(model => model.NazevInzeratu, new { @class = "form-control mensiPismoDoInputu" })
                            <div class="pt-1">
                                @Html.ValidationMessageFor(model => model.NazevInzeratu, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-2"></div>
                    </div>

                    <div class="row form-group">
                        <div class="col-1"></div>
                        <div class="col-3 col-form-label text-right">
                            @Html.LabelFor(model => model.Cena, new { @style = "font-weight:bold" })
                        </div>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(model => model.Cena, new { @class = "form-control mensiPismoDoInputu" })
                            <dvi class="pt-1">
                                @Html.ValidationMessageFor(model => model.Cena, "", new { @class = "text-danger" })
                            </dvi>
                        </div>

                        <div class="col-2"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-1"></div>
                        <div class="col-3 col-form-label text-right">
                            @Html.LabelFor(model => model.VelikostPozemku, new { @style = "font-weight:bold" })
                        </div>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(model => model.VelikostPozemku, new { @class = "form-control mensiPismoDoInputu" })
                            <div class="pt-1">
                                @Html.ValidationMessageFor(model => model.VelikostPozemku, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-3 col-form-label text-right">
                            @*@Html.LabelFor(model => model.ciselnikTypPozemkuVM, new { @style = "font-weight:bold" })*@
                        </div>
                        <div class="col-6">
                            @*@Html.TextBoxFor(model => model.komplexniFiltr.RodneCislo, new { @class = "form-control" })*@
                        </div>
                        <div class="col-2"></div>
                    </div>
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="row justify-content-center">
                                <button type="submit" class="btn btn-success" style="font-size: 13px;"> <i class="fa fa-plus-circle fa"></i> VYTVOŘ</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>}
